*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}

/*NAVEGACION*/
.container-nav{
    background-color: black;
    color: white;
}
.nav-main{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 0;
}

.container-nav a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
.logo{
    width: 90px;
}
.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul.menu li a:hover{
    border-bottom: 2px solid white;
}

.lupa img{
    width: 25px;
}
/* Por debajo de 700px */
@media screen and (max-width: 700px){
    .menu li a{
    font-size:14px;
    }
    .logo{
        width: 60px;
    }
    .lupa img{
        display: none;
    }
}
/* Por debajo de 400px */
    @media screen and (max-width: 400px){
        .menu li a{
            font-size:10px;
            }
        }
/* - - - - - - - - - - - - - - - - - - */

.img-camis{
    width: 100%;
    height: 300px;
    background: url(/imagenes/camiseta-mery.jpg) no-repeat center/cover;
    background-color: rgb(29, 29, 29);    
    background-blend-mode: soft-light;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-sudas{
    width: 100%;
    height: 300px;
    background: url(/imagenes/sin\ título\ \(1\ de\ 1\).jpg) no-repeat center/cover;
    background-color: rgb(29, 29, 29);    
    background-blend-mode: soft-light;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-acces{
    width: 100%;
    height: 300px;
    background: url(/imagenes/sin\ título\ \(1\ de\ 1\)-4.jpg) no-repeat center/cover;
    background-color: rgb(29, 29, 29);    
    background-blend-mode: soft-light;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-img{
    color: white;
    text-decoration: none;
    font-size: 100px;
}
@media screen and (max-width: 700px){
    .text-img{
        font-size: 70px;
    }
}
/* Por debajo de 400px */
    @media screen and (max-width: 400px){
        .text-img{
            font-size: 40px;
        }
    }
/* - - - - - - - - - - - - - - - - - - */

.pie-pag{
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
}

.insta{
    width: 30px;
    height: auto;
    margin-top: 9px;
}
.correo{
    width: 30px;
    height: auto;
    margin-top: 9px;
    margin-left: 9px;
}

@media screen and (max-width: 700px){
    .pie-pag{
        font-size: 14px;
    }
}
/* Por debajo de 400px */
    @media screen and (max-width: 400px){
        .pie-pag{
            font-size: 10px;
        }
        .insta{
            width: 20px;
        }
    }
